# Dependencies
node_modules/
dist/
lib/
.next/
out/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Genkit
.genkit/
